p a {
  text-decoration: underline #094a44 dotted;
}

.column25-left .section,
.column16-left .section {
	margin-bottom: 10px;
}

.column25-left .section a,
.column16-left .section a {
	letter-spacing: .05em;
}

#homeContent .blurb .event {
	border: 1pt solid #79beee80;
	background-color: #f5e2e800;
}

#homeContent .blurb .event .eventTitle, 
#homeContent .blurb .event .eventTitle a {
	text-transform: uppercase;
	letter-spacing: 2pt;
	font-weight: bold !important;
	color: #096b72;
	font-size: 1.0rem;
	font-family: Libre Baskerville;
}

#homeContent .blurb .event .eventTitle a:hover {
	text-decoration: none;
	color: #405359;
}

#homeContent .event .eventDetails {
	font-size: 1.1rem;
	line-height: 2rem;
	font-weight: 400;
}

#homeContent .bookCover {
	margin-top: 20px;
  margin-left: 0px;
  width: 505px; 
  height: auto;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transform: none;
	transform: none; 
}

.learn-list.itemDescription {
  margin-top: 1rem;
	margin-left: 0em; 
}

.listItem.learn-top-nav {
  background-color: #e6f3fb52;
  padding: 1.2em 0.7em 0.5em 0.7em;
  border-top: 1pt solid #bddff4b5;
  border-bottom: 1pt solid #bddff4b5;
}

.image-cropper {
	height: 200px;
}

/* spacing of 'get started' tutorial list */
.column25-left .section:nth-child(n+2) .sectionTitle, 
.column16-left .section:nth-child(n+2) .sectionTitle,
.column25-left .section:nth-child(n+2) a.sectionTitle, 
.column16-left .section:nth-child(n+2) a.sectionTitle {
	line-height: 1.1rem;
}

img.focal {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.column25-left .sectionTitle.start:first-of-type a, 
.column16-left .sectionTitle.start:first-of-type a,
.column25 .sectionTitle, 
.column25 .sectionTitle a, 
.column16 .sectionTitle, 
.column16 .sectionTitle a {
	font-weight: 500;
	font-size: .9rem;
	letter-spacing: .1em;
}

/* get started sidebar actions */

/*
.articleCategory a:hover, 
.column25-left .section:nth-child(n+2) a.sectionTitle:hover, 
.column16-left .section:nth-child(n+2) a.sectionTitle:hover {
  border-left: 3px solid #79beee;
  padding-left: 10px;
  text-indent: -2px;
}
*/

/*
.column25-left .section a.sectionTitle, 
.column16-left .section a.sectionTitle {
    padding: 4px 20px 4px 10px; /* Left-padding changed from 6px to 5px, so shift left does not happen on hover 
}*/

/*
.column25-left .section:nth-child(n+2) a.sectionTitle.current, 
.column16-left .section:nth-child(n+2) a.sectionTitle.current {
  border-left: 3px solid #79beee;
  padding-left: 10px;
  text-indent: -2px;
}*/

.splitColumns .column85 {
    padding-left: 1.5em; 
}

#menu {
	text-transform: none !important;
	letter-spacing: 0.1rem;
}

div.tagline {
	font-size: 1.2rem !important;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .2rem;
}

h1.tutorial.learning-objective {
  text-transform: none !important;
  font-style: italic !important;
}


/* --------------Two columns--------------- */

.twocols {
  display: flex;
}

.narrow-left {
  width: 30%;
  padding-right: 1rem;
}

.wide-right {
  width: 70%;
  padding-left: 2rem;
}

.narrow-right {
  width: 30%;
  padding-left: 1rem;
}

.wide-left {
  width: 70%;
  padding-right: 2rem;
}

/* --------------Even split- two columns--------------- */

.even-left {
  width: 50%;
  padding-right: 1rem;
}

.even-right {
  width: 50%;
  padding-left: 1rem;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

/* --------------Add measure to make more readable text--------------- */

.column85 > .article-content > p:not(img),
.column85 > .article-content > ul li {
  max-width: 40em;
}

.column25-left {
	padding-top: 20px;
	padding-right: 2em;
	max-width: 250px;
}

pre {
	padding: 1rem;
	border-radius: .125rem;
}

.single-learning-objective-text {
	color: #314341;
	font-style: italic;
}