p a {
  text-decoration: underline #094a44 dotted;
}

.column25-left .section {
	margin-bottom: 10px;
	letter-spacing: 1pt;
}

#homeContent .blurb .event {
	border: 1pt solid #79beee80;
	background-color: #f5e2e800;
}

#homeContent .blurb .event .eventTitle, 
#homeContent .blurb .event .eventTitle a {
	text-transform: uppercase;
	letter-spacing: 2pt;
	font-weight: bold !important;
	color: #096b72;
	font-size: 1.0rem;
	font-family: Libre Baskerville;
}

#homeContent .blurb .event .eventTitle a:hover {
	text-decoration: none;
	color: #405359;
}

#homeContent .event .eventDetails {
	font-size: 1.1rem;
	line-height: 2rem;
	font-weight: 400;
}

.learn-list.itemDescription {
  margin-top: 1rem;
	margin-left: 0em; 
}

.image-cropper {
	height: 200px;
}

/* spacing of 'get started' tutorial list */
.column25-left .section:nth-child(n+2) .sectionTitle, 
.column16-left .section:nth-child(n+2) .sectionTitle {
	line-height: 1.1rem;
}

.column25-left .section:nth-child(n+2) a.sectionTitle, 
.column16-left .section:nth-child(n+2) a.sectionTitle {
	line-height: 1.1rem;
}

img.focal {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}