{{ define "main" }}




<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">

      <div class="column85">
        <div class="article-title">{{ .Title | title }}</div>
        <div>{{ .Params.description | markdownify }}</div>
        
        <div>{{ .Content | markdownify }}</div>

<!-- range across sections-->
{{ range $index, $element := .Sections }}
       
<!--anchorizing all subsection links-->
<h2 style="margin-top: 0rem; padding-top: 5rem;" id="{{ anchorize (.Title) }}">{{ .Title | safeHTML }}
  <a href="#{{ anchorize (.Title) }}"></a>
</h2>

<p>{{ default .Params.Description | markdownify }}
  <a class="readMore" href="{{ .RelPermalink }}">See all &#187;</a>
</p>

<div class="card-deck">
  <!-- range across pages WITHIN sections-->
  {{ range first 4 .Pages.ByWeight }}
  <div class="card">
    {{ $thumb := (.Resources.ByType "image").GetMatch "*tb*" }}
    {{ with $thumb }}
    <img src="{{ .RelPermalink }}" class="card-img-top" aria-hidden="true">
    {{ end }}
    <div class="card-body">
      <h1 class="card-title learning-objective">{{ .Title | title }}</h1>
      <p class="card-text">{{ .Description | markdownify }}</p>
    </div>
    <div class="card-footer">
      <h1 class="learning-objective">
        <a href="{{ .RelPermalink }}">hello</a>
      </h1>
        {{ range (.GetTerms "tags") }}
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        {{ end }}
    </div>
  </div>
  {{ end }}
</div>
{{ end }}

      </div> <!-- column85 -->
      
<!-- begin right sidebar with page sections -->
<div class="column16">
  <div class="section">
    <div class="section hideOnMobile">
      <div class="start sectionTitle">On this page</div>
      <nav id="TableOfContents">
        <ul>
        {{ range $index, $element := .Sections }}
          <li><a href="#{{ anchorize (.Title) }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</div>
      
    </div> <!-- full splitColumns -->
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ end }}
